*{
    box-sizing: border-box;
}

.txt{
  
    border-bottom: 1px solid #0000c4;
    
}
#sectionone{
   min-height: 400px;
    border-bottom: 1px solid #fff;
}
 h1{
    font-size: 45px;
    color: #0000c4;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-weight: bold;
}
.sub-title-one{
    text-align: center;
    color: #0000c4;
    letter-spacing: 1px;
    font-weight: bold;
}
.paragraf-one{
    text-align: center;
    color: #0000c4;
   
    
}
.sub-title{
    text-align: left;
    color: #f0ffff;
    letter-spacing: 1px;
    font-weight: bold;
}
.blur-event{
    background: #6ba5fd;
    border-right: 1px dashed #f0ffff; 
    height: 200px;
    border-bottom: 1px dashed #f0ffff;
}
.focus-event{
    background: #458fff;
    border-right: 1px dashed #f0ffff; 
   height: 200px;
    border-bottom: 1px dashed #f0ffff;
}
.cont-event{
    background: #2a7fff;
    height: 200px;
    border-bottom: 1px dashed #f0ffff;
}
.paragraf{
    color: #fff;
    letter-spacing: 1px;
    font-size: 18px;
}
.paragraf span{
    color: #00fd00;
    font-weight: bold;

}
#sectionone label{
    color: #fff;
    letter-spacing: 1px;

}
#sectionone input{
    border: 1px solid #0000c4;
    border-radius: 5px;
    padding: 5px;
}
.cont-para{
    margin-bottom: 36px;
}
#sectionone button{
    border: 1px solid #0000c4;
    border-radius: 5px;
    padding: 6px;
    color: #fff;
    background: #0030b3;
    text-transform: uppercase;
    letter-spacing: 1px;
}


#sectionone-secondpart{
    min-height: 400px;
    border-bottom: 1px solid #fff;
}
.on-click{
    background: #2179fc;
    min-height: 200px;
    border-right: 1px dashed #f0ffff; 
    border-bottom: 1px solid #0000c4; 
}
#on-mouse{
    background: #1170ff;
    min-height: 200px;
    border-right: 1px dashed #f0ffff; 
    border-bottom: 1px solid #0000c4; 
}
#onmouseenter{
    background: #0769fd;
    min-height: 200px;
    border-bottom: 1px solid #0000c4; 
}
#sectiontwo{
   min-height: 500px;
   border-bottom: 1px solid #0000c4;
   padding: 50px 0;
   background: #89b8ff;
}
#sectiontwo> h2{
    text-align: center;
    color: #0000c4;
    margin-bottom: 30px;
    letter-spacing: 1px;
    font-weight: bold;
}
#start{
    background-color: #0030b3; 
    border:3px solid  #070027; 
    position: absolute;
    width: 800px; 
    height: 200px;
    
}
#ball{
    height: 50px; 
    width: 50px; 
    border-radius: 50%; 
    background-color: #ffe600; 
    position: absolute;
}
#stop-ball{
    margin-top:220px;
    border: 1px solid #0000c4;
    border-radius: 5px;

  
    color: #fff;
    background: #0030b3;
    text-transform: uppercase;
    letter-spacing: 1px;
}
#stop-ball:hover{
    color: #0030b3;
    background: #fff;
}
h3{
    color: #fff;
    
}
#sectionthree > h2{
    text-align: center;
    color: #0000c4;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-weight: bold;

}
#sectionthree > p{
    color: #0000c4;
    letter-spacing: 1px;
    font-size: 18px;
}
.loc-stor{
    width: 50%;
    min-height: 300px;
    background: #89b8ff;
    border-right: 1px dashed #f0ffff; 
}

.ses-stor{
    width: 50%;
    min-height: 300px;
    background: #89b8ff;
}
