*{
    box-sizing: border-box;
}
body{
    background: #b0d0ff;
}
.txt{
  
    border-bottom: 1px solid #0000c4;
    
}
#sectionone{
   min-height: 500px;
   
}
 h1{
    font-size: 45px;
    color: #0000c4;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-weight: bold;
}
.sub-title-one{
    text-align: center;
    color: #0000c4;
    letter-spacing: 1px;
    font-weight: bold;
}
.paragraf-one{
    text-align: center;
    color: #0000c4;
   
    
}
.sub-title{
    text-align: left;
    color: #f0ffff;
    letter-spacing: 1px;
    font-weight: bold;
}
.blur-event{
    background: #6ba5fd;
    border-right: 1px dashed #f0ffff; 
    height: 220px;
    border-bottom: 1px dashed #f0ffff;
}
#result-years,#pass-out,#days-out{
    font-size: 18px;
   
    margin-top:10px;
}
.focus-event{
    background: #458fff;
    border-right: 1px dashed #f0ffff; 
    height: 220px;
    border-bottom: 1px dashed #f0ffff;
}
.cont-event{
    background: #2a7fff;
    height: 220px;
    border-bottom: 1px dashed #f0ffff;
}
.paragraf{
    color: #fff;
    letter-spacing: 1px;
    font-size: 18px;
}
.paragraf span{
    color: #00fd00;
    font-weight: bold;

}
#sectionone label{
    color: #fff;
    letter-spacing: 1px;
    font-size: 15px;

}
#sectionone input{
    border: 1px solid #0000c4;
    border-radius: 5px;
    padding: 5px;
}
.cont-para{
    margin-bottom: 36px;
}
#sectionone button{
    border: 1px solid #0000c4;
    border-radius: 5px;
    padding: 6px;
    color: #fff;
    background: #0030b3;
    text-transform: uppercase;
    letter-spacing: 1px;
}



.on-click{
    background: #2179fc;
    height: 220px;
    border-right: 1px dashed #f0ffff; 
    border-bottom: 1px solid #0000c4; 
}
#on-mouse{
    background: #1170ff;
    height: 220px;
    border-right: 1px dashed #f0ffff; 
    border-bottom: 1px solid #0000c4; 
}
#onmouseenter{
    background: #0769fd;
    height: 220px;
    border-bottom: 1px solid #0000c4; 
}
#sectiontwo{
   min-height:500px;
   border-bottom: 1px solid #0000c4;
   padding: 50px 0;
   
   

   
}

.title-second{
    text-align: center;
    color: #0000c4;
    margin-bottom: 30px;
    letter-spacing: 1px;
    font-weight: bold;
    
}
.paragraf-sec-two{
    text-align: center;
    color: #0000c4;
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 1.8;
}
#start{
    background-color: #0030b3; 
    border:3px solid  #070027; 
    position: absolute;
    width: 800px; 
    height: 200px;
    
}
#ball{
    height: 50px; 
    width: 50px; 
    border-radius: 50%; 
    background-color: #ffe600; 
    position: absolute;
}
#stop-ball{
    margin-top:220px;
    border: 1px solid #0000c4;
    border-radius: 5px;
    padding: 10px 30px;
  
    color: #fff;
    background: #0030b3;
    text-transform: uppercase;
    letter-spacing: 1px;
}
#stop-ball:hover{
    color: #0030b3;
    background: #fff;
}
h3{
    color: #fff;
    
}
#sectionthree{
    width: 100%;
    padding: 30px 0;
    background: #0a6cff;
}
.third-tittle{
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-weight: bold;

}
.third-para{
    color: #fff;
    letter-spacing: 1px;
    font-size: 18px;
    margin:25px 0;
    text-align: center;
    line-height: 1.8;
}
.loc-stor{
    width: 100%;
    min-height: 300px;
    background: #0066ff;
   padding: 15px 0;
    border-top: 1px dashed #f0ffff;
}
.local-stor{
    text-align: center;
    margin:20px 0;
}

.local-para{
    text-align: center;
    font-size: 18px;
    line-height: 1.8;
}

.ses-stor{
    width: 100%;
    min-height: 300px;
    background: #005ce6;
    border-top: 1px dashed #f0ffff;
}
.list{
    text-align: center;
    color: #fff;
    font-size: 18px;
    list-style: none;
    line-height: 1.8;
}
